* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #131516;
    --text-color: #d8d4cf;
}

body {
    background-color: var(--background);
}

.flex-row {
    display: flex;
    flex: wrap;
    justify-content: space-evenly;
}

.flex-col {
    display: flex;
    flex: wrap;
    flex-direction: column;
    justify-content: space-evenly;
}

a {
    font-style: normal;
    color: var(--text-color);
}

header {
    padding: 20px 35px;
    background-color: var(--background);
    margin: 0 auto;
    position: sticky;
    display: flex;
    flex: wrap;
    justify-content: space-between;
}

header h1 {
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 2px black;
}

header h1:hover {
    text-decoration: green wavy underline;
}

header nav {
    margin: 10px 0;
}

header nav ul {
    display: flex;
    flex: wrap;
    align-items: center;
    list-style: none;
    justify-content: space-between;
}

header nav ul li a {
    padding: 10px 20px;
}

header nav ul li a:hover {
    background: black;
    color: red;
    border-radius: 20px;
    text-shadow: none;
}

section {
    display: block;
}

.about-me {
    padding: 20px 0 0 0;
}

.name-text {
    font-size: large;
    line-height: 1.7;
    font-style: italic;
}

.about-me div div h2 {
    border-right-color: black;
}

.my-face {
    height: 200px;
    width: auto;
    border-radius: 20px;
}

.contact-text{
    font-style: normal;
    color: black;
}

.contact-text:hover {
    background-color: black;
    border-radius: 10px;
}

footer {
    background: var(--background);
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex: wrap;
}





.flex-images {
    
}