* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-col: #131516;
    --text-color: #d8d4cf;
}

body {
    background-color: var(--background-col);
}

.flex-row {
    display: flex;
    flex: wrap;
    justify-content: space-evenly;
}

.flex-col {
    display: flex;
    flex: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    width: fit-content;
}

header {
    padding: 20px 35px;
    margin: 0 auto;
    position: sticky;
    display: flex;
    flex: wrap;
    justify-content: space-between;
}

header h1 {
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
}

header h1:hover {
    text-decoration: green wavy underline;
}

header nav {
    margin: 10px 0;
}

header nav ul {
    display: flex;
    flex: wrap;
    align-items: center;
    list-style: none;
    justify-content: space-between;
}

header nav ul li a {
    padding: 10px 20px;
}

header nav ul li a:hover {
    background: black;
    color: red;
    border-radius: 20px;
    text-shadow: none;
}

section {
    display: block;
}

.about-me {
    padding: 20px;
}

.info-about-me {
    width: 35%;
    display: inline-block;
    text-align: right;
    margin: 3.5%;
    font-size: 18px;
    line-height: 1.2;
    padding: 40px;
}

.info-about-me h2 {
    color: blue;
}

.info-about-me p {
    text-align: right;
    line-height: 1.7;
}

.name-text {
    font-size: large;
    line-height: 1.7;
    font-style: italic;
}

.my-face {
    height: 200px;
    width: auto;
    border-radius: 20px;
}


a:link {
    color: var(--text-color);
    font-style: normal;
}

a:visited {
    color: purple;
    font-style: italic;
}

a:hover {
    font-weight: bold;
}

footer{
    background-color: var(--background-col);
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 40px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer h3 {
    color: var(--text-color);
    font-size: 30px;
    margin: 0;
}