* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: orangered;
}

.flex-row {
    display: flex;
    flex: wrap;
    justify-content: space-evenly;
}

.flex-col {
    display: flex;
    flex: wrap;
    flex-direction: column;
    justify-content: space-evenly;
}

header {
    padding: 20px 35px;
    margin: 0 auto;
    position: sticky;
    display: flex;
    flex: wrap;
    justify-content: space-between;
    background-color: grey;
}

header h1 {
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
    color: white;
}

header h1:hover {
    text-decoration: green wavy underline;
}

header nav {
    margin: 10px 0;
}

header nav ul {
    display: flex;
    flex: wrap;
    align-items: center;
    list-style: none;
    justify-content: space-between;
}

header nav ul li a {
    padding: 10px 20px;
}

.text-hover:hover {
    background: black;
    color: red;
    border-radius: 20px;
    text-shadow: none;
}

section {
    display: block;
}

h2{
    color: green;
    font-style: italic;
}

.about-me {
    padding: 40px;
}


.about-me-box {
    width:500px;
}

.face-style{
    align-self: center;
}

.my-face {
    height: 200px;
    width: auto;
    border-radius: 20px;
}

.name-text {
    font-size: 35px;
    line-height: 1.7;
    font-family: sans-serif;
    text-align: center;
}


a:link {
    font-style: normal;
}

a:visited {
    color: purple;
    font-style: italic;
}

a:hover {
    font-weight: bold;
}

#contact {
    padding: 25px;
}

.contact-text {
    padding: 0 30px;
}

.small-project {
    height: 250px;
    width: 250px;
    border: 5px solid black;

}


footer{
    bottom: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: grey;
    position: relative;
}

footer h3 {
    font-size: 30px;
    margin: 0;
}

footer div {
    line-height: 1.7;
    text-align: right;
}